@keyframes bubble{
    0%{}
    100%{
        transform: translateY(-1000px);}
}
#bubble{
    position: fixed;
    z-index: -1000px;
    list-style: none;
    width: 100%;
    height: 100%;
}
.clbub{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    bottom: -100px;
    animation-name: bubble;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#bubble li:nth-child(1){
    left: 20%;
    width: 50px;
    height: 50px;
    animation-delay: 3s;
    animation-duration: 20s;
}
#bubble li:nth-child(2){
    left: 95%;
    width: 50px;
    height: 50px;
    animation-delay: 4s;
    animation-duration: 16s;
}
#bubble li:nth-child(3){
    left: 5%;
    width: 80px;
    height: 80px;
    animation-delay: 7s;
    animation-duration: 18s;
}
#bubble li:nth-child(4){
    left: 25%;
    width: 35px;
    height: 35px;
    animation-delay: 10s;
    animation-duration: 10s;
}
#bubble li:nth-child(5){
    left: 55%;
    width: 45px;
    height: 45px;
    animation-delay: 9s;
    animation-duration: 20s;
}
#bubble li:nth-child(6){
    left: 80%;
    width: 30px;
    height: 30px;
    animation-delay: 7s;
    animation-duration: 21s;
}
#bubble li:nth-child(7){
    left: 70%;
    width: 60px;
    height: 60px;
    animation-delay: 4s;
    animation-duration: 20s;
}
#bubble li:nth-child(8){
    left: 10%;
    width: 30px;
    height: 30px;
    animation-delay: 14s;
    animation-duration: 17s;
}
#bubble li:nth-child(9){
    left: 50%;
    width: 20px;
    height: 20px;
    animation-delay: 20s;
    animation-duration: 13s;
}
#bubble li:nth-child(10){
    left: 30%;
    width: 50px;
    height: 50px;
    animation-delay: 9s;
    animation-duration: 25s;
}

#bubble li:nth-child(11){
    left: 11%;
    width: 50px;
    height: 50px;
    animation-delay: 8s;
    animation-duration: 20s;
}
#bubble li:nth-child(12){
    left: 42%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    animation-duration: 17s;
}
#bubble li:nth-child(13){
    left: 61%;
    width: 80px;
    height: 80px;
    animation-delay: 5s;
    animation-duration: 20s;
}
#bubble li:nth-child(14){
    left: 27%;
    width: 35px;
    height: 35px;
    animation-delay: 6s;
    animation-duration: 10s;
}
#bubble li:nth-child(15){
    left: 56%;
    width: 45px;
    height: 45px;
    animation-delay: 20s;
    animation-duration: 16s;
}
#bubble li:nth-child(16){
    left: 89%;
    width: 80px;
    height: 80px;
    animation-delay: 7s;
    animation-duration: 18s;
}
#bubble li:nth-child(17){
    left: 74%;
    width: 60px;
    height: 60px;
    animation-delay: 9s;
    animation-duration: 15s;
}
#bubble li:nth-child(18){
    left: 26%;
    width: 30px;
    height: 30px;
    animation-delay: 10s;
    animation-duration: 13s;
}
#bubble li:nth-child(19){
    left: 52%;
    width: 50px;
    height: 50px;
    animation-delay: 15s;
    animation-duration: 17s;
}
#bubble li:nth-child(20){
    left: 93%;
    width: 55px;
    height: 55px;
    animation-delay: 9s;
    animation-duration: 19s;
}