/* Add Google Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Return to Factory Style */
*{
    margin: 0;
    padding: 0;
}

/* Base Style */
body{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400, 700;
    font-style: normal;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* Styles on Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
    padding-top: 15px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Container Section */
.container{
    max-width: 340px;
    margin: 0 auto;
}

/* Card Section */
.card{
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    margin: 0 1em;
    box-shadow: 5px 5px 5px 1px rgba(35, 48, 59, 0.2);
}
.card img{
    width: 100%;
    border-radius: 12px;
}

/* Text Section */
.text{
    padding: 22px 10px;
}
.text h1{
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
    font-size: 22px;
}
.text p{
    color: hsl(220, 15%, 55%);
}
